{#
/**
 * Block Name: MODULE_TITLE
 *
 * This is the template that displays the example block.
 */
#}

{% if is_preview %}
    <h1 class="block-title">{{ block.title }}</h1>
{% endif %}

<h1>My new module MODULE_TITLE</h1>
